datasets==2.14.4
einops==0.8.1
matplotlib==3.9.2
mamba-ssm==2.3.0
ninja==1.13.0
numpy==1.26.4
pillow==12.0.0
scipy==1.15.3
sympy==1.13.1
tiktoken==0.6.0
tokenizers==0.20.3
torch==2.5.1+cu121
transformers==4.45.0
triton==3.1.0
